@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: white;
    }

    .row-list {
        background: rgba(87, 87, 87, 1);
    }

    .row-list .row-bar {
        border-bottom: 0px solid darkgray;
        text-transform: uppercase;
        letter-spacing: .2em;
    }

    .p-muted {
        color: lightgray;
    }

    .header a {
        color: white;
    }

    .middle-scroll {
        background: linear-gradient(180deg, rgba(179, 179, 179, 1) 0%, rgba(70, 70, 70, 1) 25%, rgba(27, 27, 27, 1) 100%);
    }

    .box {
        color: black;
        border: 0px solid white;
        background: rgba(20, 20, 20, 1);
        background-blend-mode: darken;
    }

    /*  .row-list .box:hover {
        background: rgba(40, 40, 40, 1);
        animation: fadeIn 1.5s;
        color: white;
    } */

    .search-card {
        color: black;
        background-color: rgba(240, 240, 240, 1);
    }

    .search-card:hover {
        background: rgba(40, 40, 40, 1);
        animation: fadeIn 1.5s;
        color: white;
    }

    img.icon {
        filter: invert(80%);
    }

    .box-drop-normal {
        box-shadow: inset 0 0 5px lightgray, 0 0 5px lightgray;
    }

    .box-drop-highlight {
        box-shadow: inset 0 0 15px lightgray, 0 0 5px lightgray;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #fff;
        color: black;
    }

    .row-list {
        border-top: 1px solid darkgrey;
        background: rgba(200, 200, 200, 1);
    }

    .row-list .row-bar {
        background: rgb(255, 255, 255);
        border-bottom: 1px solid darkgray;
        text-transform: uppercase;
        letter-spacing: .2em;
    }

    .p-muted {
        color: darkgray;
    }

    .header a {
        color: black;
    }

    .middle-scroll {
        background: "white";
    }

    .box {
        border: 0px solid white;
        background: rgba(240, 240, 240, 1);
    }

    .box div.title {
        color: black;
    }

    .box div.description {
        color: black;
    }

    /*  .row-list .box:hover {
        background: rgba(179, 179, 179, 1);
        animation: fadeIn 1.5s;
    }*/

    .box .search-card {
        background-color: rgba(20, 20, 20, 0.8);
    }

    img.icon {
        filter: invert(0%);
    }

    .box-drop-normal {
        box-shadow: inset 0 0 5px lightgray, 0 0 5px lightgray;
    }

    .box-drop-highlight {
        box-shadow: inset 0 0 15px lightgray, 0 0 5px lightgray;
    }
}

div.header a {
    font-size: 28px;
    font-weight: 900;
    font-kerning: none;
    margin-top: -8px;
}

.middle-scroll {
    min-height: 100%;
}

.slider {
    min-width: 100%;
    height: 100%;
}

.slide-right {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 270px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow-y: hidden;
}

.content {
    top: 50px;
    display: flex;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    padding: 0px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.left,
.right {
    width: 300px;
    min-width: 300px;
    padding: 10px;
}

.middle {
    flex-grow: 1;
    height: 1050px;
    overflow-y: auto;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.header {
    height: 50px;
    overflow: hidden;
    border-bottom: 1px solid grey;
}

.header a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header a.active {
    background: #2196F3;
    color: white;
}

.header input[type=text] {
    float: auto;
    padding: 6px;
    border: none;
    border-radius: 3px;
    font-size: 17px;
    position: fixed;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    padding-left: 30px;
    margin-top: 8px;
    border: 1px solid grey;
}

#search_container {
    position: relative;
    padding: 0;
    margin: 0;
    width: 300px;
    height: 40px;
    float: auto;
    left: 50%;
    margin-left: -150px;
}

#search_img {
    position: absolute;
    bottom: 7px;
    left: 5px;
    width: 20px;
    height: 15px;
    color: grey;
}

@media screen and (max-width: 600px) {

    .header a,
    .header input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .header input[type=text] {
        border: 1px solid #ccc;
    }
}

html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

.side-header {
    font-size: 10pt;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 3px;
    margin-top: 5px;
}

.row-list {
    height: 300px;
    flex: 0 0 350px;
    background: rgba(0, 0, 0, 0);
}

.row-list .row-bar {
    height: 30px;
    font-size: 12pt;
    padding-top: 5px;
    padding-left: 5px;
}

.p-muted {
    font-size: 9px;
}

.box {
    width: 180px;
    height: 245px;
    margin-right: 10px;
    border-radius: 4px;
    padding: 5px;
    overflow: hidden;
    animation: fadeIn 0.5s;
    position: relative;
}

.box-drop-normal {
    background-color: rgba(0, 0, 0, 0);
    width: 250px;
    height: 340px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    padding: 5px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

div.box-drop-normal .box {
    width: 100%;
    height: 100%;
}

.box-drop-highlight {
    background-color: rgba(0, 0, 0, 0);
    width: 250px;
    height: 340px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    padding: 5px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

div.box-drop-highlight .box {
    width: 100%;
    height: 100%;
}


.box div.title {
    font-size: 1em;
    overflow: hidden;
    z-index: 2;
}

.box div.description {
    font-size: 0.6em;
    max-height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    position: relative;
}

.box div.project-name {
    position: absolute;
    bottom: 2px;
    left: 2px;
    font-size: 0.8em;
    z-index: 2;
}

.box div.instrument-name {
    position: absolute;
    bottom: 1.2em;
    left: 2px;
    font-size: 0.8em;
    z-index: 2;
}

.box div.pattern {
    position: absolute;
    bottom: 2.4em;
    font-size: 0.8em;
    z-index: 2;
}

.slider {
    display: inline-flex;
    padding: 5px;
    padding-bottom: 0px;
}

div.select-button {
    animation-duration: .3s;
    animation-name: decrease;
    animation-iteration-count: once;
    animation-fill-mode: both;
    position: absolute;
    right: -250px;
    bottom: -200px;
    fill: red;
    background-color: black;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px black;
    z-index: 1;
}

.box:hover>div.select-button {
    animation-duration: .3s;
    animation-name: increase;
    animation-iteration-count: once;
    animation-fill-mode: both;
}

#stats-text button.btn-info {
    width: 100%;
}

@keyframes increase {
    0% {
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }

    100% {
        width: 400px;
        height: 400px;
        border-radius: 200px;
    }
}

@keyframes decrease {
    0% {
        width: 400px;
        height: 400px;
        border-radius: 200px;
    }

    100% {
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.Pastel1-q0-3 {
    background: rgb(251, 180, 174)
}

.Pastel1-q1-3 {
    background: rgb(179, 205, 227)
}

.Pastel1-q2-3 {
    background: rgb(204, 235, 197)
}

.Pastel1-q0-4 {
    background: rgb(251, 180, 174)
}

.Pastel1-q1-4 {
    background: rgb(179, 205, 227)
}

.Pastel1-q2-4 {
    background: rgb(204, 235, 197)
}

.Pastel1-q3-4 {
    background: rgb(222, 203, 228)
}

.Pastel1-q0-5 {
    background: rgb(251, 180, 174)
}

.Pastel1-q1-5 {
    background: rgb(179, 205, 227)
}

.Pastel1-q2-5 {
    background: rgb(204, 235, 197)
}

.Pastel1-q3-5 {
    background: rgb(222, 203, 228)
}

.Pastel1-q4-5 {
    background: rgb(254, 217, 166)
}

.Pastel1-q0-6 {
    background: rgb(251, 180, 174)
}

.Pastel1-q1-6 {
    background: rgb(179, 205, 227)
}

.Pastel1-q2-6 {
    background: rgb(204, 235, 197)
}

.Pastel1-q3-6 {
    background: rgb(222, 203, 228)
}

.Pastel1-q4-6 {
    background: rgb(254, 217, 166)
}

.Pastel1-q5-6 {
    background: rgb(255, 255, 204)
}

.Pastel1-q0-7 {
    background: rgb(251, 180, 174)
}

.Pastel1-q1-7 {
    background: rgb(179, 205, 227)
}

.Pastel1-q2-7 {
    background: rgb(204, 235, 197)
}

.Pastel1-q3-7 {
    background: rgb(222, 203, 228)
}

.Pastel1-q4-7 {
    background: rgb(254, 217, 166)
}

.Pastel1-q5-7 {
    background: rgb(255, 255, 204)
}

.Pastel1-q6-7 {
    background: rgb(229, 216, 189)
}

.Pastel1-q0-8 {
    background: rgb(251, 180, 174)
}

.Pastel1-q1-8 {
    background: rgb(179, 205, 227)
}

.Pastel1-q2-8 {
    background: rgb(204, 235, 197)
}

.Pastel1-q3-8 {
    background: rgb(222, 203, 228)
}

.Pastel1-q4-8 {
    background: rgb(254, 217, 166)
}

.Pastel1-q5-8 {
    background: rgb(255, 255, 204)
}

.Pastel1-q6-8 {
    background: rgb(229, 216, 189)
}

.Pastel1-q7-8 {
    background: rgb(253, 218, 236)
}

.Pastel1-q0-9 {
    background: rgb(251, 180, 174)
}

.Pastel1-q1-9 {
    background: rgb(179, 205, 227)
}

.Pastel1-q2-9 {
    background: rgb(204, 235, 197)
}

.Pastel1-q3-9 {
    background: rgb(222, 203, 228)
}

.Pastel1-q4-9 {
    background: rgb(254, 217, 166)
}

.Pastel1-q5-9 {
    background: rgb(255, 255, 204)
}

.Pastel1-q6-9 {
    background: rgb(229, 216, 189)
}

.Pastel1-q7-9 {
    background: rgb(253, 218, 236)
}

.Pastel1-q8-9 {
    background: rgb(242, 242, 242)
}

.Pastel2-q0-3 {
    background: rgb(179, 226, 205)
}

.Pastel2-q1-3 {
    background: rgb(253, 205, 172)
}

.Pastel2-q2-3 {
    background: rgb(203, 213, 232)
}

.Pastel2-q0-4 {
    background: rgb(179, 226, 205)
}

.Pastel2-q1-4 {
    background: rgb(253, 205, 172)
}

.Pastel2-q2-4 {
    background: rgb(203, 213, 232)
}

.Pastel2-q3-4 {
    background: rgb(244, 202, 228)
}

.Pastel2-q0-5 {
    background: rgb(179, 226, 205)
}

.Pastel2-q1-5 {
    background: rgb(253, 205, 172)
}

.Pastel2-q2-5 {
    background: rgb(203, 213, 232)
}

.Pastel2-q3-5 {
    background: rgb(244, 202, 228)
}

.Pastel2-q4-5 {
    background: rgb(230, 245, 201)
}

.Pastel2-q0-6 {
    background: rgb(179, 226, 205)
}

.Pastel2-q1-6 {
    background: rgb(253, 205, 172)
}

.Pastel2-q2-6 {
    background: rgb(203, 213, 232)
}

.Pastel2-q3-6 {
    background: rgb(244, 202, 228)
}

.Pastel2-q4-6 {
    background: rgb(230, 245, 201)
}

.Pastel2-q5-6 {
    background: rgb(255, 242, 174)
}

.Pastel2-q0-7 {
    background: rgb(179, 226, 205)
}

.Pastel2-q1-7 {
    background: rgb(253, 205, 172)
}

.Pastel2-q2-7 {
    background: rgb(203, 213, 232)
}

.Pastel2-q3-7 {
    background: rgb(244, 202, 228)
}

.Pastel2-q4-7 {
    background: rgb(230, 245, 201)
}

.Pastel2-q5-7 {
    background: rgb(255, 242, 174)
}

.Pastel2-q6-7 {
    background: rgb(241, 226, 204)
}

.Pastel2-q0-8 {
    background: rgb(179, 226, 205)
}

.Pastel2-q1-8 {
    background: rgb(253, 205, 172)
}

.Pastel2-q2-8 {
    background: rgb(203, 213, 232)
}

.Pastel2-q3-8 {
    background: rgb(244, 202, 228)
}

.Pastel2-q4-8 {
    background: rgb(230, 245, 201)
}

.Pastel2-q5-8 {
    background: rgb(255, 242, 174)
}

.Pastel2-q6-8 {
    background: rgb(241, 226, 204)
}

.Pastel2-q7-8 {
    background: rgb(204, 204, 204)
}